{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <!-- Title *NEEDS CHANGING* -->
    <title>Minesweeper</title>

    <!-- JQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- Javascript -->
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </head>

  <body>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <input id="name" type="text" class="form-control" placeholder="Your name"/>
        <br/>
        <div class="btn btn-success" onclick="new_game();" style="margin: auto; width: 200px;">Create new game</div>
        <br/>
        <br/>
        OR
        <br/>
        <br/>
        <div class="input-group">
          <input id="session" type="text" class="form-control" placeholder="Game Session">
          <span class="input-group-btn">
            <button class="btn btn-success" onclick="join_game();" type="button">Join</button>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>