

#board {
  width: 600px;
  height: 600px;
  margin: auto;
  background: #222244;
}

.box {
  width: 26px;
  height: 26px;
  margin: 2px;
  float: left;
  border-width: 1px;
  border-color: #333366;
  background-color: #6666aa;
  text-align: center;
  font-size: 18;
}

.box:hover {
  background-color: #9999dd;
}

.empty {
  background-color: #aaaaff;
}

.flagged {
  background-image: url("../images/flag.8fe181d992cd.png");
  background-size:cover;
}

.bomb {
  background-image: url("../images/bomb.d1b2d60ffa24.png");
  background-size:cover;
}

.yourturn {
  color: green;
}

.someonelost {
  color: red;
}
